@model IEnumerable<PerfectPoliciesFE.Models.OptionModels.Option>

@{
    ViewData["Title"] = "Index";

    var questionId = Context.Request.RouteValues.Where(c => c.Key == "id").FirstOrDefault().Value;

    var quizId = ViewBag.quizId;
}

<h1>Index</h1>

<p>
    @{
        if (questionId != null)
        {
            @Html.ActionLink("Create New", "CreateForQuestion", "Option", new { id = questionId })
        }
        else
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            @*
        <th>
            @Html.DisplayNameFor(model => model.OptionId)
        </th>
            *@
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCorrect)
            </th>
            @*
        <th>
            @Html.DisplayNameFor(model => model.QuestionId)
        </th>
            *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.OptionId)
        </td>
            *@
            <td>
                @Html.DisplayFor(modelItem => item.OptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.QuestionId)
        </td>
            *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OptionId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OptionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OptionId })
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back To Questions", "QuestionsByQuizId", "Question", new { id = quizId })
</div>
